<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boikhujiseller">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoiKhujiSeller"
        tools:targetApi="31">
        <activity
            android:name=".DashboardActions.Addcategory"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".DashboardActions.Problem"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".DashboardActions.Profile"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".DashboardActions.Notifications"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".DashboardActions.View"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".DashboardActions.Edit"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".DashboardActions.Add"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"  />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.BoiKhujiSeller.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>